.newcollection{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.newcollection h2{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.newcollection hr{
    background-color: black;
    width: 200px;
    height: 6px;
    border-radius: 10px;
   
}
.newcollection_item {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}