.productdisplay{
    display: flex;
}
.productdisleft{
    display: flex;
    margin: 30px 20px;
}
.productdis_list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right:20px ;
}
.productdis_list img{
    height: 150px;
    width: 100px;
    
}
.productdis_img img{
    height: 600px;
    width: 400px;
}
.productdisright{
    margin-top: 30px;
}
.productdis_star img{
    width: 25px;
    height: 25px;
}
.productdis_rate{
    display: flex;
    gap: 10px;
}
.product_price{
    display: flex;
    gap: 10px;
    margin: 30px;
}
.prooduct_oldprice{
    text-decoration: line-through;
    font-size: 25px;
    color: rgb(57, 55, 55);
}
.product_newprice{
    font-size: 25px;
    color: rgb(213, 24, 24);
    font-weight: 700;
}
.product_description{
    margin: 10px;
}
.productdis_size h1    {
    font-weight: 600;
    font-size: 25px;
    color: cadetblue;
}
.productdis_right_size{
    margin: 10px;
    display: flex;
    gap: 10px;
}
.productdis_right_size div{
    padding: 10px;
    border: solid 1px black;
    border-radius: 2px;
    background-color: darkgrey;
}
.productdis_right_size div:hover{
    cursor: pointer;
    background-color: rgb(213, 24, 24);color: white;
}
.productdis_size button{
    background-color: rgb(213, 24, 24);
    margin: 10px;
    border-radius: 2px;
    color: white;
    padding: 5px;
    font-weight:600 ;
}