.productdis_list{
    display:flex;
    gap: 10px;
    margin: 30px 20px;
}
.productdis_list img{
    width: 250px;
    height: 300px;
}
.productdis_img{
    margin: 30px 20px;
}
.productdis_img img{
    width: 250px;
    height: 300px;
}
.productdis_star img{
    width: 20px;
    height: 20px;
}