.descriptionbox{
    display: flex;
    flex-direction: column;
    margin: 20px 120px;
}
.description-navigator{
    display: flex;
}
.description-navigator-left{
    border: solid 1px rgb(91, 89, 89);    
    padding: 10px;
}
.description-navigator-right{
    border: solid 1px rgb(91, 89, 89);    
    padding: 10px;
}
.descriptionbox-description{
    border: solid 1px rgb(91, 89, 89);
    padding: 20px;
    background-color: aliceblue;
}